body {
    background: linear-gradient(rgb(47,150,163), rgb(46,62,143));
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
  }
  .box{
    min-width: 700px;
    min-height: 300px;
    
  }
  h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
    color: rgb(237, 235, 240);
  }
  .button{
    text-align: center;
    color: rgb(5, 15, 36);
  }
  